<div class="row title">
  <div class="col-md-8">
      <h2 >Nuevo Tipo De Gasto</h2>
  </div>
  <div class="col-md-4">
	  <%= link_to 'Volver', type_spends_path, class: "btn btn-default" %>
  </div>
</div>
<br>
<br>  
<%= render 'form', type_spend: @type_spend %>
