<div class="container">
<div class="row">
<div class="col-md-12">
	<div class="text-center page" style="">   
<img  class = "img-responsive" style = "display:inline-block;width:500px;" src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/184/Logos%C3%ADmbolo_dnuba__2_-02.png" alt="">
	<h1 style = "font-size: 50px;
    color: #ffffff;
">¡PÁGINA EN CONSTRUCCIÓN!</h1>


<h1 style = "font-size: 35px;    color: #ffffff;
">CONTACTANOS</h1>

<h1 style = "font-size: 26px;    color: #ffffff;
"><i class="fa fa-envelope" aria-hidden="true"></i>

dnubaweb@gmail.com
</h1>

<h2 style = "font-size: 26px;    color: #ffffff;
"><i class="fa fa-mobile" aria-hidden="true"></i> +57 317 4411859

</h1>
<h2 style = "font-size: 26px;    color: #ffffff;
"><i class="fa fa-phone" aria-hidden="true"></i>
+574 5818740
</h1>
<h2 style = "font-size: 26px;    color: #ffffff;
">Medellín - Colombia    
</h1>

</div>

</div>
	
</div>
	
</div>


<style>
h2
{
	color:gray;
}
.page
{
	width:80%;margin-left: 10%;text-align: center;margin-top: 5%
}
	@media only screen and (max-width: 500px) {
		.page
		{
			width:100%;margin-left: 0%;text-align: center;margin-top: 5%
		}
}
   
}
</style>

