
		<!-- Start Preloader Area-->
		<div class="preloader-area">
			<div class="sk-cube-grid">
				<div class="sk-cube sk-cube1"></div>
				<div class="sk-cube sk-cube2"></div>
				<div class="sk-cube sk-cube3"></div>
				<div class="sk-cube sk-cube4"></div>
				<div class="sk-cube sk-cube5"></div>
				<div class="sk-cube sk-cube6"></div>
				<div class="sk-cube sk-cube7"></div>
				<div class="sk-cube sk-cube8"></div>
				<div class="sk-cube sk-cube9"></div>
			</div>
		</div>
		<!--/End Preloader Area-->
		<!-- Navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index-slider.html"><img width="300px" class="logo_dnuba" src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/184/Logos%C3%ADmbolo_dnuba__2_-02.png" alt=""></a>
				</div>
				<div class="collapse navbar-collapse" id="main-nav-collapse">
					<ul class="nav navbar-nav navbar-right">
							<li><%= link_to "INICIO", root_path, target: "_blank" ,class: "active smoth-scroll" %></li>
						<li><a class="smoth-scroll" href="#about-us">QUIENES SOMOS</a></li>
						<li><a class="smoth-scroll" href="#special">SERVICIOS</a></li>
						<li><a class="smoth-scroll" href="#our-portfolio">NUESTRO TRABAJO</a></li>
						<li><a class="smoth-scroll" href="#contacts">CONTACTANOS</a></li>
						<li><%= link_to "ADMINISTRAR", cost_centers_path, target: "_blank" ,class: "smoth-scroll" %></li>

				</div>
			</div>
		</nav>
		<!-- /End Navbar -->
		<!-- Start Header -->
		<div id="home" class="welcome-slider-area">
			<div class="slider-active owl-carousel">
				<div class="single-slider" style="background-image:url(https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/191/Fotolia_167160211_Subscription_Monthly_M.jpg)">
					<div class="slider-title">
						<div class="table-cell">
							<!--<p>Palki Business HTML5 Template</p>-->
							<h2 class="slider-title-animation">TU LO IMAGINAS  <span>NOSTROS LO CREAMOS</span></h2>
							<p class="slider-animation-up" style="font-size: 25px;">Desarrollo de software a la medida 
								para el mejoramiento continuo de tu Empresa 
							</p>
							<div class="button-group slider-animation-up">
								<a class="btn btn-normal-border" href="#">NOSOTROS</a>
								<a class="btn btn-normal" href="#">CONTACTANOS</a>
							</div>
						</div>
					</div>
				</div>
				<!--<div class="single-slider" style="background-image:url(https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/164/slider-2.jpg)">
					<div class="slider-title">
						<div class="table-cell">
							<p>Palki Business HTML5 Template</p>
							<h2 class="slider-title-animation">WE ARE <span>CREATIVE</span> TEAM</h2>
							<p class="slider-animation-up">Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>
								Lorem Ipsum has been the industry's standard . 
							</p>
							<div class="button-group slider-animation-up">
								<a class="btn btn-normal-border" href="#">READ MORE</a>
								<a class="btn btn-normal" href="#">PURCHASE</a>
							</div>
						</div>
					</div>
				</div>
				<div class="single-slider" style="background-image:url(https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/165/slider-3.jpg)">
					<div class="slider-title">
						<div class="table-cell">
							<p>Palki Business HTML5 Template</p>
							<h2 class="slider-title-animation">WE ARE <span>CREATIVE</span> BUSINESS</h2>
							<p class="slider-animation-up">Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>
								Lorem Ipsum has been the industry's standard . 
							</p>
							<div class="button-group slider-animation-up">
								<a class="btn btn-normal-border" href="#">READ MORE</a>
								<a class="btn btn-normal" href="#">PURCHASE</a>
							</div>
						</div>
					</div>
				</div>-->
			</div>
		</div>
		<!--/End Header -->
		<!-- Start About us Area -->
		<section id="about-us" class="">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<div class="about-content">
							<h2>QUIENES <span > SOMOS </span></h2>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only</p>
							<p>tronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop </p>
							<div class="about-button wow fadeIn">
								<a class="btn btn-color" href="#">Ver Mas</a>
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="about-images wow fadeIn">
							<a href="#"><img src="http://conceptodefinicion.de/wp-content/uploads/2016/11/Cloud_Computing.jpg" alt="about misti"></a>
						</div>
					</div>
				</div>
			</div>
			<br>
		</section>
		<!-- /End About us Area -->
		<!-- Start Our Service Area -->
		<section id="special" class="section-padding">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="section-title wow fadeInDown">
							<h2> <span >SERVICIOS</span ></h2>
							<div class="border-line">
								<span class="border-box"></span>
							</div>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="col-sm-12 col-md-4 col-lg-4">
							<div class="special-single-content text-center">
								<i class="fa fa-television" aria-hidden="true"></i>
								<h3>Software a la medida</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever </p>
								<a class="btn-service" href="#"> Read More</a>
							</div>
						</div>	
						<div class="col-sm-12 col-md-4 col-lg-4">
							<div class="special-single-content item-open text-center">
								<i class="fa fa-mobile" aria-hidden="true"></i>
								<h3>Desarrollo Movil</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever </p>
								<a class="btn-service" href="#"> Read More</a>
							</div>
						</div>	
						<div class="col-sm-12 col-md-4 col-lg-4">
							<div class="special-single-content text-center">
								<i class="fa fa-pencil" aria-hidden="true"></i>
								<h3>Portales web especializados</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever </p>
								<a class="btn-service" href="#"> Read More</a>
							</div>
						</div>
							
					
					</div>
				</div>
			</div>
		</section>
		<!-- /End Our Service Area -->
		<!--Start counter Area -->
		<section id="conuter" class="complete-project-conuter">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-3">
						<div class="single-counter">
							<div class="counter-icon">
								<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
							</div>
							<div class="counter-data">
								<h2 class="counter">3,952</h2>
								<h3>complete project</h3>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-3">
						<div class="single-counter">
							<div class="counter-icon">
								<i class="fa fa-users" aria-hidden="true"></i>
							</div>
							<div class="counter-data">
								<h2 class="counter">9,052</h2>
								<h3>Happy Customers</h3>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-3">
						<div class="single-counter">
							<div class="counter-icon">
								<i class="fa fa-clock-o" aria-hidden="true"></i>
							</div>
							<div class="counter-data">
								<h2 class="counter">3,523</h2>
								<h3>Hours worked</h3>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-3">
						<div class="single-counter">
							<div class="counter-icon">
								<i class="fa fa-hand-peace-o" aria-hidden="true"></i>
							</div>
							<div class="counter-data">
								<h2 class="counter">6,052</h2>
								<h3>Got Awards Top </h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /End Counter Area -->
		<!--Start Our portfolio Area -->
		<section id="our-portfolio" class="portfolio section-padding">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="section-title wow fadeInDown">
							<h2>NUESTRO <span> TRABAJO</span ></h2>
							<div class="border-line">
								<span class="border-box"></span>
							</div>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
						</div>
					</div>
				</div>
				<div class="row">
					<!--<div class="col-xs-12">
						<ul class="portfolio">
							<li class="filter" data-filter="all">all Project</li>
							<li class="filter" data-filter=".webdesign">webdesign</li>
							<li class="filter" data-filter=".development">development</li>
							<li class="filter" data-filter=".photography">photography</li>
						</ul>
					</div>-->
				</div>
				<div class="portfolio-inner">
					<div class="row portfolio-posts">
						<div class="mix photography development col-sm-6 col-md-4">
							<div class="item">
							<img src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/170/Screenshot_from_2018-04-25_23-52-06.png" alt="">
								
								<div class="portfolio-caption">
									<a href="#" class="protfolio-link-bt"><i class="fa fa-chain"></i></a>
									<a href="assets/images/portfolio/portfolio-1.jpg" class="protfolio-link-bt portfolio-img"><i class="fa fa-plus"></i></a>
									<h3>Creative Business Portfolio</h3>
								</div>
							</div>
						</div>
						<div class="mix webdesign development col-sm-6 col-md-4">
							<div class="item">
								<img src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/171/Screenshot_from_2018-04-25_23-58-17.png" alt="">
								<div class="portfolio-caption">
									<a href="#" class="protfolio-link-bt"><i class="fa fa-chain"></i></a>
									<a href="assets/images/portfolio/portfolio-1.jpg" class="protfolio-link-bt portfolio-img"><i class="fa fa-plus"></i></a>
									<h3>Business Creative Portfolio</h3>
								</div>
							</div>
						</div>
						<div class="mix webdesign development col-sm-6 col-md-4">
							<div class="item">
								<img src="assets/images/portfolio/portfolio-3.jpg" alt="">
								<div class="portfolio-caption">
									<a href="#" class="protfolio-link-bt"><i class="fa fa-chain"></i></a>
									<a href="assets/images/portfolio/portfolio-1.jpg" class="protfolio-link-bt portfolio-img"><i class="fa fa-plus"></i></a>
									<h3>Business Creative Portfolio</h3>
								</div>
							</div>
						</div>
						<div class="mix development development col-sm-6 col-md-4">
							<div class="item">
								<img src="assets/images/portfolio/portfolio-4.jpg" alt="">
								<div class="portfolio-caption">
									<a href="#" class="protfolio-link-bt"><i class="fa fa-chain"></i></a>
									<a href="assets/images/portfolio/portfolio-1.jpg" class="protfolio-link-bt portfolio-img"><i class="fa fa-plus"></i></a>
									<h3>Creative Business Portfolio</h3>
								</div>
							</div>
						</div>
						<div class="mix webdesign development col-sm-6 col-md-4">
							<div class="item">
								<img src="assets/images/portfolio/portfolio-5.jpg" alt="">
								<div class="portfolio-caption">
									<a href="#" class="protfolio-link-bt"><i class="fa fa-chain"></i></a>
									<a href="assets/images/portfolio/portfolio-1.jpg" class="protfolio-link-bt portfolio-img"><i class="fa fa-plus"></i></a>
									<h3>Business Creative Portfolio</h3>
								</div>
							</div>
						</div>
						<div class="mix development development col-sm-6 col-md-4">
							<div class="item">
								<img src="assets/images/portfolio/portfolio-6.jpg" alt="">
								<div class="portfolio-caption">
									<a href="#" class="protfolio-link-bt"><i class="fa fa-chain"></i></a>
									<a href="assets/images/portfolio/portfolio-1.jpg" class="protfolio-link-bt portfolio-img"><i class="fa fa-plus"></i></a>
									<h3>Business Creative Portfolio</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /End Our Portfolio Area -->

		<!--Start Our Team Area -->
		
		<!-- /End Team Area -->
		<!--Start Testimonial Area -->
		<section id="testimonial" class="testimonial section-padding">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="section-title wow fadeInDown">
							<h2>LO QUE DICEN<span > NUESTROS CLIENTES</span ></h2>
							<div class="border-line">
								<span class="border-box"></span>
							</div>
							<p>Nuestro principal objetivo es la satisfaccion de nuestros clientes.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="testimonial-item owl-carousel">
							<div class="testimonial-item-single">
								<div class="testimonial-item-img">
									<img src="assets/images/testimonial/taslim.jpg" alt="">
								</div>
								<i class="fa fa-quote-right" aria-hidden="true"></i>
								<div class="testimonial-contact">
									<h5>Taslim Hossain <span class="wht"> / </span> <span> UX/UI </span></h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, magni, molestias! Similique illo mollitia accusamus, quidem laudantium amet....</p>
								</div>
							</div>
							<div class="testimonial-item-single">
								<div class="testimonial-item-img">
									<img src="assets/images/testimonial/minhaj.jpg" alt="">
								</div>
								<i class="fa fa-quote-right" aria-hidden="true"></i>
								<div class="testimonial-contact">
									<h5>Md.Minhajul Islam <span class="wht"> / </span> <span> Developer </span></h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, magni, molestias! Similique illo mollitia accusamus, quidem laudantium amet....</p>
								</div>
							</div>
							<div class="testimonial-item-single">
								<div class="testimonial-item-img">
									<img src="assets/images/testimonial/taslim.jpg" alt="">
								</div>
								<i class="fa fa-quote-right" aria-hidden="true"></i>
								<div class="testimonial-contact">
									<h5>Taslim Hossain <span class="wht"> / </span> <span> UX/UI </span></h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, magni, molestias! Similique illo mollitia accusamus, quidem laudantium amet....</p>
								</div>
							</div>
							<div class="testimonial-item-single">
								<div class="testimonial-item-img">
									<img src="assets/images/testimonial/minhaj.jpg" alt="">
								</div>
								<i class="fa fa-quote-right" aria-hidden="true"></i>
								<div class="testimonial-contact">
									<h5>Md.Minhajul Islam <span class="wht"> / </span> <span> Developer </span></h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, magni, molestias! Similique illo mollitia accusamus, quidem laudantium amet....</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /End Testimonial Area -->
		<!-- our pricing Area -->
		
		<!-- /End Our Blog Area -->
		<!-- Footer top Area -->
		<section id="contacts" class="section-padding">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="section-title wow fadeInDown">
							<h2>Contact <span > US</span ></h2>
							<div class="border-line">
								<span class="border-box"></span>
							</div>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="footer-single-contact">
							<div class="address-single-contact">
								<h6>Address:</h6>
								<p>309, Vandar Market, Level-6, Room-10</p>
								<p>SK Mujib Road,Agrabad , Chittagong,Bangladesh</p>
							</div>
							<div class="address-single-contact">
								<h6>Customer Support</h6>
								<p>Phone : +880 1676 966 260</p>
								<p>mail : support@domainname.com</p>
							</div>
						</div>
					</div>
					<div class="col-md-8">
						<div class="footer-single-contact">
							<div class="contact-form">
								<form id="contact-form" method="post" enctype="multipart/form-data" action="assets/mail/mail.php">
									<div class="row">
										<div class="form-group col-md-6">
											<input type="text" name="fname" class="form-control pl-icon" id="first-name" placeholder="&#xf2c0; your name" required />
										</div>
										<div class="form-group col-md-6">
											<input type="email" name="email" class="form-control pl-icon" id="email" placeholder="&#xf003; your email" required />
										</div>
										<div class="form-group col-md-12">
											<input type="text" name="subject" class="form-control pl-icon" id="subject" placeholder="&#xf040; your subject" required />
										</div>
										<div class="form-group col-md-12">
											<textarea rows="3" name="message" class="form-control pl-icon" id="description" placeholder="&#xf0e5; your message" required ></textarea>
										</div>
										<div class="col-md-12">
											<div class="actions wow fadeIn" data-wow-delay=".4s">
												<input type="submit" value="send message" name="submit" id="submitButton" class="btn btn-lg contact-btn" title="Submit Your Message!">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /End Footer top Area -->
		<!-- footer Area -->
		<footer id="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="footer-buttom">
							<p>Copyright @2018 Power by <a href="#">ThemeHappy.com</a> All Rihgt Reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</footer>


		<style>
		@media only screen and (max-width: 768px) {


   .logo_dnuba
   {
    width: 260px !important;
   } 
}
			
		</style>