
		<!-- Start Preloader Area-->
		<div class="preloader-area">
			<div class="sk-cube-grid">
				<div class="sk-cube sk-cube1"></div>
				<div class="sk-cube sk-cube2"></div>
				<div class="sk-cube sk-cube3"></div>
				<div class="sk-cube sk-cube4"></div>
				<div class="sk-cube sk-cube5"></div>
				<div class="sk-cube sk-cube6"></div>
				<div class="sk-cube sk-cube7"></div>
				<div class="sk-cube sk-cube8"></div>
				<div class="sk-cube sk-cube9"></div>
			</div>
		</div>
		<!--/End Preloader Area-->
		<!-- Navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index-slider.html"><img width="300px" class="logo_dnuba" src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/184/Logos%C3%ADmbolo_dnuba__2_-02.png" alt=""></a>
				</div>
				<div class="collapse navbar-collapse" id="main-nav-collapse">
					<ul class="nav navbar-nav navbar-right">
							<li><%= link_to "INICIO", root_path, target: "_blank" ,class: "active smoth-scroll" %></li>
						<li><a class="smoth-scroll" href="#about-us">QUIENES SOMOS</a></li>
						<li><a class="smoth-scroll" href="#special">SERVICIOS</a></li>
						<li><a class="smoth-scroll" href="#our-portfolio">NUESTRO TRABAJO</a></li>
						<li><a class="smoth-scroll" href="#contacts">CONTACTENOS</a></li>
						<li><%= link_to "ADMINISTRAR", cost_centers_path, target: "_blank" ,class: "smoth-scroll" %></li>

				</div>
			</div>
		</nav>
		<!-- /End Navbar -->
		<!-- Start Header -->
		<div id="home" class="welcome-slider-area">
			<div class="slider-active owl-carousel">
				<div class="single-slider" style="background-image:url(https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/191/Fotolia_167160211_Subscription_Monthly_M.jpg)">
					<div class="slider-title">
						<div class="table-cell">
							<!--<p>Palki Business HTML5 Template</p>-->
							<h2 class="slider-title-animation">TU LO IMAGINAS  <span>NOSOTROS LO CREAMOS</span></h2>
							<p class="slider-animation-up" style="font-size: 25px;">Desarrollo de software a la medida,
								para el mejoramiento continuo de las empresas 
							</p>
							<div class="button-group slider-animation-up">
								<a class="smoth-scroll btn btn-normal-border" href="#about-us">NOSOTROS</a>
								<a class="smoth-scroll btn btn-normal" href="#contacts">CONTACTENOS</a>
							</div>
						</div>
					</div>
				</div>
				<!--<div class="single-slider" style="background-image:url(https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/164/slider-2.jpg)">
					<div class="slider-title">
						<div class="table-cell">
							<p>Palki Business HTML5 Template</p>
							<h2 class="slider-title-animation">WE ARE <span>CREATIVE</span> TEAM</h2>
							<p class="slider-animation-up">Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>
								Lorem Ipsum has been the industry's standard . 
							</p>
							<div class="button-group slider-animation-up">
								<a class="btn btn-normal-border" href="#">READ MORE</a>
								<a class="btn btn-normal" href="#">PURCHASE</a>
							</div>
						</div>
					</div>
				</div>
				<div class="single-slider" style="background-image:url(https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/165/slider-3.jpg)">
					<div class="slider-title">
						<div class="table-cell">
							<p>Palki Business HTML5 Template</p>
							<h2 class="slider-title-animation">WE ARE <span>CREATIVE</span> BUSINESS</h2>
							<p class="slider-animation-up">Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>
								Lorem Ipsum has been the industry's standard . 
							</p>
							<div class="button-group slider-animation-up">
								<a class="btn btn-normal-border" href="#">READ MORE</a>
								<a class="btn btn-normal" href="#">PURCHASE</a>
							</div>
						</div>
					</div>
				</div>-->
			</div>
		</div>
		<!--/End Header -->
		<!-- Start About us Area -->
		<section id="about-us" class="">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<div class="about-content">
							<h2>QUIENES <span > SOMOS </span></h2>
							<p style="    padding: 10px 40px 0px 0px;
                                text-align: justify;">Somos una empresa de desarrollo de software a la medida, para empresas que buscan el mejoramiento continuo de sus procesos, nos enfocamos en crear soluciones altamente eficientes y faciles de usar, con el fin de que nuestros clientes aumente la productivad, controlen y centralicen su informacion y  agilicen sus procesos.</p>
							
							<div class="about-button wow fadeIn">
								<!--<a class="btn btn-color" href="#">Ver Mas</a>-->
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="about-images wow fadeIn">
							<a href="#"><img src="http://conceptodefinicion.de/wp-content/uploads/2016/11/Cloud_Computing.jpg" alt="about misti"></a>
						</div>
					</div>
				</div>
			</div>
			<br>
		</section>
		<!-- /End About us Area -->
		<!-- Start Our Service Area -->
		<section id="special" class="section-padding">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="section-title wow fadeInDown">
							<h2> <span >SERVICIOS</span ></h2>
							<div class="border-line">
								<span class="border-box"></span>
							</div>
							<p></p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="col-sm-12 col-md-4 col-lg-4">
							<div class="special-single-content text-center" style="height: 340px;">
								<img src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/214/if_window-tools_532712.png" width="100px" alt="">
								<h3>Software a la medida</h3>
								<p class="text-justify">Transformamos de forma eficiente tu idea y/o necesidad, en un software de alta calidad, gracias a que contamos con un equipo altamente calificado en desarrollo de software y gestion de procesos. </p>
								<!--<a class="btn-service" href="#" > Read More</a>-->
							</div>
						</div>	
						<div class="col-sm-12 col-md-4 col-lg-4">
							<div class="special-single-content item-open text-center" style="height: 340px;">
								<img src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/215/if_smartphone-configuration_532718.png" width="100px" alt="">
								<h3>Desarrollo de Aplicaciones Móviles</h3>
								<p class="text-justify">Gracias a la evolucion de los dispositivos moviles, hoy en día podemos llevar nuestra empresa en la mano, nosotros hacemos que esto sea posible, mediante la creacion de aplicaciones moviles, desarrollamos para Android e iOS (iPhone | iPad) </p>
								<!--<a class="btn-service" href="#" > Read More</a>-->
							</div>
						</div>	
						<div class="col-sm-12 col-md-4 col-lg-4">
							<div class="special-single-content text-center" style="height: 340px;">
								<img src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/213/if_responsive-layout-screen_532719.png" width="100px" alt="">
								<h3>Portales Web </h3>
								<p class="text-justify">Mas que paginas informativas, desarrollamos portales web especializados,  en los cuales la empresa pueda interactuar con sus clientes, proveedores y/o empleados, nuestros desarrollos son adaptables a dispositivos moviles y tablets</p>
								<!--<a class="btn-service" href="#" > Read More</a>-->
							</div>
						</div>
							
					
					</div>
				</div>
			</div>
		</section>
		<!-- /End Our Service Area -->
		<!--Start counter Area -->
		<section id="conuter" class="complete-project-conuter">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<div class="single-counter">
							<div class="counter-icon">
								<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
							</div>
							<div class="counter-data">
								<h2 class="counter">10</h2>
								<h3>Proyectos Realizados</h3>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="single-counter">
							<div class="counter-icon">
								<i class="fa fa-users" aria-hidden="true"></i>
							</div>
							<div class="counter-data">
								<h2 class="counter">9</h2>
								<h3>Clientes Satisfechos</h3>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="single-counter">
							<div class="counter-icon">
								<i class="fa fa-clock-o" aria-hidden="true"></i>
							</div>
							<div class="counter-data">
								<h2 class="counter">4000</h2>
								<h3>Horas de proyectos</h3>
							</div>
						</div>
					</div>
				
				</div>
			</div>
		</section>
		<!-- /End Counter Area -->
		<!--Start Our portfolio Area -->
		<section id="our-portfolio" class="portfolio section-padding">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="section-title wow fadeInDown">
							<h2>NUESTRO <span> TRABAJO</span ></h2>
							<div class="border-line">
								<span class="border-box"></span>
							</div>
							<!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>-->
						</div>
					</div>
				</div>
				<div class="row">
					<!--<div class="col-xs-12">
						<ul class="portfolio">
							<li class="filter" data-filter="all">all Project</li>
							<li class="filter" data-filter=".webdesign">webdesign</li>
							<li class="filter" data-filter=".development">development</li>
							<li class="filter" data-filter=".photography">photography</li>
						</ul>
					</div>-->
				</div>
				<div class="portfolio-inner">
					<div class="row portfolio-posts">
						<div class="mix photography development col-sm-6 col-md-4">
							<div class="item">
							
							<img src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/170/Screenshot_from_2018-04-25_23-52-06.png" alt="">
								
								<div class="portfolio-caption">
									<a href="https://sigmaip.co" class="protfolio-link-bt"><i class="fa fa-chain"></i></a>
									<!--<a href="assets/images/portfolio/portfolio-1.jpg" class="protfolio-link-bt portfolio-img"><i class="fa fa-plus"></i></a>-->
									<h3></h3>
								</div>
							</div><br>
							<p style="font-size:16px"><strong style="color:#06a7e1">Cliente: </strong> Sigma Ingernieria y Proyectos 
							<br>
                            <strong style="color:#06a7e1">Proyecto: </strong>Portal Web
							</p>
						
						</div>
						<div class="mix webdesign development col-sm-6 col-md-4">
							<div class="item">
								<img src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/171/Screenshot_from_2018-04-25_23-58-17.png" alt="">
								<div class="portfolio-caption">
									<a href="http://psicloud.co/" class="protfolio-link-bt"><i class="fa fa-chain"></i></a>
									<!--<a href="assets/images/portfolio/portfolio-1.jpg" class="protfolio-link-bt portfolio-img"><i class="fa fa-plus"></i></a>-->
									<h3></h3>
								</div>
							</div><br>
							<p style="font-size:16px"><strong style="color:#06a7e1">Cliente: </strong> Psicloud 
							<br>
                            <strong style="color:#06a7e1">Proyecto: </strong>Software de Historia Clinica para Psicologos
							</p>
						</div>
						<div class="mix webdesign development col-sm-6 col-md-4">
							<div class="item" style="border: 1px solid #d9d9d9;">
								<img src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/216/imagenmejoraapp.png" alt="">
								<div class="portfolio-caption">
									<a href="https://mejoraapp.com/" class="protfolio-link-bt"><i class="fa fa-chain"></i></a>
									<!--<a href="assets/images/portfolio/portfolio-1.jpg" class="protfolio-link-bt portfolio-img"><i class="fa fa-plus"></i></a>-->
									<h3></h3>
								</div>
							</div>
							<br>
							<p style="font-size:16px"><strong style="color:#06a7e1">Cliente: </strong> MejoraApp 
							<br>
                            <strong style="color:#06a7e1">Proyecto: </strong>Software para gestion de mejora continua
							</p>
						</div>
						<div class="mix development development col-sm-6 col-md-4">
							<div class="item">
								<img src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/217/imagenmag.png" alt="">
								<div class="portfolio-caption">
									<a href="http://rccreports.herokuapp.com/users/sign_in" class="protfolio-link-bt"><i class="fa fa-chain"></i></a>
									<!--<a href="assets/images/portfolio/portfolio-1.jpg" class="protfolio-link-bt portfolio-img"><i class="fa fa-plus"></i></a>-->
									<h3></h3>
								</div>
							</div>
							<br>
							<p style="font-size:16px"><strong style="color:#06a7e1">Cliente: </strong> MAG Textiles 
							<br>
                            <strong style="color:#06a7e1">Proyecto: </strong>Software para el control de reclamos y seguimiento a las acciones correctivas del proceso de ventas.
							</p>
						</div>
						<div class="mix webdesign development col-sm-6 col-md-4">
							<div class="item">
								<img src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/218/imageserv.png" alt="">
								<div class="portfolio-caption">
									<a href="https://www.zoho.com/creator/" class="protfolio-link-bt"><i class="fa fa-chain"></i></a>
									
									<h3></h3>
								</div>
							</div>
							<br>
							<p style="font-size:16px"><strong style="color:#06a7e1">Cliente: </strong>Servidual Ltda 
							<br>
                            <strong style="color:#06a7e1">Proyecto: </strong>Software ERP para la Gestion de todos los procesos de la compañia
							</p>
						</div>
						<div class="mix development development col-sm-6 col-md-4">
							<div class="item">
								<img src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/219/sigmafile.png" alt="">
								<div class="portfolio-caption">
									<a href="https://sigmaip.co/file_systems" class="protfolio-link-bt"><i class="fa fa-chain"></i></a>
									
									<h3></h3>
								</div>
							</div>
							<br>
							<p style="font-size:16px"><strong style="color:#06a7e1">Cliente: </strong> Sigma Ingernieria y Proyectos 
							<br>
                            <strong style="color:#06a7e1">Proyecto: </strong>Software para Gestión de Documental.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /End Our Portfolio Area -->

		<!--Start Our Team Area -->
		
		<!-- /End Team Area -->
		<!--Start Testimonial Area -->
		<section id="testimonial" class="testimonial section-padding">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="section-title wow fadeInDown">
							<h2>LO QUE DICEN<span > NUESTROS CLIENTES</span ></h2>
							<div class="border-line">
								<span class="border-box"></span>
							</div>
							<p>Nuestro principal objetivo es la satisfaccion de nuestros clientes.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="testimonial-item owl-carousel">
							<div class="testimonial-item-single">
								<div class="testimonial-item-img">
									<img src="http://www.uic.mx/posgrados/files/2018/05/default-user-300x300.png" alt="">
								</div>
								<i class="fa fa-quote-right" aria-hidden="true"></i>
								<div class="testimonial-contact">
									<h5>Martin Vélez <span class="wht"> / </span> <span> Gerente Marketing Tecnico <br>(MAG Textiles) </span></h5>
									<p>dnuba construyo para MAG Textiles un excelente software, el cual nos ayuda a controlar la información, y así tomar decisiones de forma rápida y acertada.</p>
								</div>
							</div>
							<div class="testimonial-item-single">
								<div class="testimonial-item-img">
									<img src="https://sigmaip.co/uploads/team/image/1/1.jpg" alt="">
								</div>
								<i class="fa fa-quote-right" aria-hidden="true"></i>
								<div class="testimonial-contact">
									<h5>Joaquin Muñoz<span class="wht"> / </span> <span> Gerenete <br>(Sigma Ingenieria y Proyectos)</span></h5>
									<p>dnuba es un aliado estratégico de Sigma Ingeniería y Proyectos, ya que nos ayuda a mejorar nuestros procesos mediante la construcción de software altamente calificado.</p>
								</div>
							</div>
							<div class="testimonial-item-single">
								<div class="testimonial-item-img">
									<img src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/226/40387c32-1f51-45f8-b40a-4bf069bbdfa0.jpg" alt="">
								</div>
								<i class="fa fa-quote-right" aria-hidden="true"></i>
								<div class="testimonial-contact">
									<h5>Heidy Rodriguez <span class="wht"> / </span> <span> Gerente <br>(Psiclin) </span></h5>
									<p>Psicloud ha sido una gran solución para el orden de mis historias clínicas, lo que me ha permitido ahorrar tiempo y dinero, además de ser una herramienta práctica, de fácil uso y constante actualización.</p>
								</div>
							</div>
							<div class="testimonial-item-single">
								<div class="testimonial-item-img">
									<img src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/220/12688350_1549825662011974_6224266855750625010_n.jpg" alt="">
								</div>
								<i class="fa fa-quote-right" aria-hidden="true"></i>
								<div class="testimonial-contact">
									<h5>Luis Ferando Velez <span class="wht"> / </span> <span> CEO <br> (MejoraApp) </span></h5>
									<p>MejoraApp es una idea que tenia hace muchos años y gracias a dnuba ahora es un producto que esta en el mercado, el cual esta ayudando al mejoramiento continuo de muchas empresas.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /End Testimonial Area -->
		<!-- our pricing Area -->
		
		<!-- /End Our Blog Area -->
		<!-- Footer top Area -->
		<section id="contacts" class="section-padding">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="section-title wow fadeInDown">
							<h2>Contactenos </h2>
							<div class="border-line">
								<span class="border-box"></span>
							</div>
							<p>Si quires saber mas sobre nosotros o tienes una idea y quires desarrollarla, no dudes en contactarnos</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="footer-single-contact">
						
							<div class="address-single-contact">
								<h6>Servicio al Cliente</h6>
								<p>Telefono : +57 310 8400705</p>
								<p>email : info@dnuba.com</p>
							</div>
						</div>
					</div>
					<div class="col-md-8">
						<div class="footer-single-contact">
							<div class="contact-form">
									

                             <%=form_tag create_contacts_path, remote: true, method: :post,  authenticity_token: true%>                               

									<input name="utf8" type="hidden" value="✓">
									<div class="form-group col-md-6">
									<input type="text" name="name" id="name" class="form-control pl-icon" placeholder="&#xf2c0; Nombre" required="">
									</div>
									<div class="form-group col-md-6">					
									<input type="text" name="email" id="email" class="form-control pl-icon" placeholder="&#xf003; Email" required="">	
								    </div>
								    <div class="form-group col-md-12">
									<input type="text" name="subject" id="subject" class="form-control pl-icon" placeholder="&#xf040; Asunto" required="">
								    </div>
								    <div class="form-group col-md-12">
								    <textarea name="message" id="message" class="form-control pl-icon" placeholder="&#xf0e5;  Mensaje" required=""></textarea>
								    </div>

								    <div class="col-md-12">
										<div class="actions wow fadeIn" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
											<input type="submit" name="commit" value="Enviar Mensaje" class="btn btn-lg contact-btn" id="submitButton" data-disable-with="Enviar Mensage">
										</div>
										<br>
									</div>
										
									<div class="col-md-5">
										<div class="alert alert-info" style="display: none;">
											<p>El Mensaje se envio con <b>exito!</b></p>
										</div>	
									</div>

									</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /End Footer top Area -->
		<!-- footer Area -->
		<footer id="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="footer-buttom">
							<p>© 2018 <a href="http://dnuba.com">dnuba</a> , Todos los derechos reservados.</p>
							
						</div>
					</div>
				</div>
			</div>
		</footer>


		<style>
		@media only screen and (max-width: 768px) {


   .logo_dnuba
   {
    width: 260px !important;
   } 

}
	
	   .alert-info p{
   	color: white !important;
   }

   .alert-info{
   	background-color: #05a7e1;
   	border-color: #05a7e1;
   }
		
  .item
  {
  	    border: 1px solid #c1c1c1;
  }
		</style>  
