<div class="row title">
  <div class="col-md-8">
      <h2 >Crear Centro de Costo</h2>
  </div>
  <div class="col-md-4">
	  <%= link_to 'Volver', cost_centers_path, class: "btn btn-info" %>
  </div>
</div>
<br>
<br>   
<%= render 'form', cost_center: @cost_center %>
