<div class="container">   
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
              <h2 class="text-center">Editar Gasto</h2>
<%= render 'form', general_spend: @general_spend %>

<%= link_to 'Regresar', general_spends_path %>


     </div>
      
    </div>
  
</div>
