 <div class="row title">
  <div class="col-md-8">
      <h2 >Editar Gasto</h2>
  </div>
  <div class="col-md-4">
     <%= link_to 'Volver', general_spends_path, class: "btn btn-default" %>
  </div>
</div>
<br>
<br>
<%= render 'form', general_spend: @general_spend %>

