@import "bootstrap-sprockets";
@import "bootstrap";


.menu
{
	
	margin-right:10px;
}


.title
{
	background: #02a8f4;
    color: white;
}

.title h2
{
	padding: 10px;
    background: #02a8f4;
    color: white;
    margin:0px;
}
.title h3
{
	padding: 10px;
    background: #02a8f4;
    color: white;
    margin:0px;
}
.title .col-md-4
{
	margin-top: 0px;
    text-align: right;
    padding: 10px 50px;
}

.title a
{
    color: #02a8f4 !important;
    background-color: #ffffff  !important;
    border-color: white  !important;
    border-bottom: 2px solid #c3c6c7  !important;	
}

.table
{
	margin-top: 20px !important; 
}