<div class="container" style="margin-top: 30px;">
  <div class="row title">
  <div class="col-md-8">
      <h2 >Usuarios</h2>
  </div>
  <div class="col-md-4">
      <%= link_to "Crear Usuario", new_user_path, class: "btn btn-info" %>
  </div>
</div>
      <table class="table">
        <thead>
          <tr>
            <th>Email</th>
            <th colspan="3">Acciones</th>
          </tr>
        </thead>

      <tbody>
          <% @user.each do |user| %>
            <tr>
              <td><%= user.email %></td>
              <td><%= link_to editar_user_path(user), class: "btn btn-info" do %>
                <i class="fas fa-pencil-alt"></i>
                <% end -%>
              <%= link_to destroy_user_path(user),method: :delete, data: {
                confirm: '¿Estas Seguro?',
                'confirm-button-text': 'Borrar',
                'cancel-button-text': 'Cancelar',
                'confirm-button-color': '#CC0000',
                 text: 'Recuerda que el registro se borrara permanentemente',
                'image-url': ''}, class: "btn btn-danger" do %>
          <i class="fas fa-trash-alt "></i>
          <% end -%>
            </td>
            </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>
